body {
	color: white;
	margin: 0;
	padding: 0;
	background: url("./assets/img/gym.png");
	background-size: 100% 100%;
	background-color: black;
}
.back {
	height: 100vh;
	padding-bottom: 50px;
}
.metalBox {
	background: url('./assets/img/metalWall.png');
}
.metalWidth {
	width: 320px;
	border-radius: 10px;
	margin: 0 auto;
}
h1 {
	font-family: 'Bebas Neue', cursive;
}
.title {
	color: gray;
	text-align: center;
	text-shadow: 1px 2px silver;
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 3px;
	margin: 0 0 10px 0;
	padding: 20px 0 0 0;
}
.header {
	text-align: center;
	font-weight: bold;
}

/* Animations */
#imgCont {
	width: 280px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 auto 10px auto;
}
#imgBox {
	height: 50px;
	width: 50px;
	border-radius: 10px;
	margin: 0 auto 10px auto;
}
#lifting {
	height: 40px;
	width: 50px;
	padding-top: 10px;
	animation: lift 3s infinite;
}
#arms {
	height: 50px;
	width: 50px;
}
#pushup {
	width: 60px;
	padding-top: 22px;
}
#top {
	width: 60px;
	padding-top: 32px;
}
#swim {
	height: 50px;
	width: 50px;
	padding-top: 16px;
}
#cycle {
	height: 30px;
	width: 30px;
	margin:0 5px -5px 0;
	padding: 5px 0 0 0;
	animation: cycle 2s infinite linear;
}
#sloganBox {
	overflow: hidden;
	margin: 0 auto;
}
#slogan {
	width: 600px;
	font-family: 'Bebas Neue', cursive;
	font-size: 30px;
	text-align: center;
	margin-bottom: 15px;
	animation: ticker 20s infinite linear;
}
#red {
	color: red;
	animation: pulse 2s infinite;
}

/* Table area */
.container-table {
	min-height: 300px;
	width: 80%;
	background: url("./assets/img/chalkboard.png") no-repeat;
	background-size: 100% 100%;
	margin: 20px auto 0 auto;
	padding: 20px 0;
}
.table {
	min-width: 100%;
	border: 3px solid darkblue;
	border-collapse: collapse;
	margin: 0 auto;
}
th {
	height: 30px;
	font-family: 'Kalam', cursive;
	border-bottom: 2px solid red;
}
td {
	font-family: 'Kalam', cursive;
	border: 2px solid darkblue;
	margin: 0;
	padding: 0 5px;
}
#tId {
	width: 20%;
}
#tReps {
	width: 10%;
	text-align: center;
}
#tDesc {
	width: 40%;
}
#tUpd, #tDel {
	width: 15%;
	text-align: center;
	padding: 0;
}
a:link, a:visited, a:hover, a:active {
	color: black;
}
#bUpd, #bDel {
	cursor: pointer;
	height: 100%;
	text-align: center;
	color: deepskyblue;
	font-weight: bold;
	text-decoration: underline;
	margin: 0;
	padding: 5px 0;
}
#bDel {
	color: red;
}

/* Add Form Area */
#addCont {
	font-family: 'Bebas Neue', cursive;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
#add {
	text-align: center;
	margin: 30px auto;
}
.bAdd {
	cursor: pointer;
	border: 2px solid darkgreen;
	border-radius: 15px;
	background: lime;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	padding: 5px 10px;
}
#bCxl {
	background: red;
	border-color: rgb(128, 0, 0);
	margin-left: 20px;
}

input {
	height: 25px;
	width: 250px;
	color: black;
	font-size: 18px;
	border-radius: 5px;
	margin-bottom: 10px;
}
textarea {
	width: 250px;
	height: 70px;
	color: black;
	font-size: 18px;
	resize: none;
	border-width: 2px;
	border-style: inset;
	border-color: initial;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 0;
}

/* Update Form Area */
#updCont {
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	margin: 30px auto;
	padding-bottom: 10px;
}
h2 {
	font-size: 30px;
	margin-top: 0;
	padding-top: 20px;
}
.tag {
	font-size: 20px;
}
#noUnd {
	text-decoration: none;
}

/* Footer */
.refer {
	text-align: center;
	margin: 0 auto 10px auto;
}
#color {
	width: 150px;
	background: black;
	color: greenyellow;
	border-radius: 15px;
	padding: 5px 10px;
}

@media (min-width: 1600px){
	#slogan{
		animation: ticker2 20s infinite linear;
	}
}

@media (max-width: 700px){
	#slogan{
		animation: ticker3 20s infinite linear;
	}
	.container-table {
		width: 98%;
	}
}

@keyframes lift {
	0% {
		height: 40px;
	}
	60% {
		padding-top: 0;
		height: 50px;
	}
}

@keyframes pulse {
	0% {
		color: red;
	}
	60% {
		color: white;
	}
}

@keyframes cycle {
	0% {
		margin: 0 5px -5px 0;
		padding: 5px 0 0 0;
	}
	30% {
 		margin: 0 10px 0 0;		
		padding: 0 0 0 0;
	}
	60% {
		margin: 0 20px -5px 0;
		padding: 5px 0 0 0;
	}
}

@keyframes ticker {
	from {
		transform: translate(250%, 0)
	}
	to{
		transform: translate(-100%, 0)
	}
}

@keyframes ticker2 {
	from {
		transform: translate(350%, 0)
	}
	to{
		transform: translate(-100%, 0)
	}
}

@keyframes ticker3 {
	from {
		transform: translate(150%, 0)
	}
	to{
		transform: translate(-100%, 0)
	}
}